@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --overview-color: 250 80% 54%;
  --business-color: 10 73% 51%;
  --leadership-color: 220deg 91% 54%;
  --techniques-color: 217deg 92% 76%;
  --health-color: 151 65% 54%;
  --finance-color: 174 62% 47%;
}

.dark {
  --overview-color: 250 100% 80%;
  --business-color: 11 82% 59%;
  --leadership-color: 217deg 92% 76%;
  --techniques-color: 151 65% 54%;
  --health-color: 174 62% 47%;
  --finance-color: 10 73% 51%;
}

.leadership {
  --primary: var(--leadership-color);
}

.overview {
  --primary: var(--overview-color);
}

.business {
  --primary: var(--business-color);
}

.finance {
  --primary: var(--finance-color);
}

.techniques {
  --primary: var(--techniques-color);
}

.health {
  --primary: var(--health-color);
}

body {
  font-family:
    Be Vietnam Pro,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  overflow-wrap: break-word;
  overscroll-behavior-y: none;
}

@font-face {
  font-family: "Be Vietnam Pro Sans";
  font-style: normal;
  font-weight: 400 500 700;
  font-display: optional;
  src:
    url("/fonts/bvp.regular.woff2") format("woff2"),
    url("/fonts/bvp.medium.woff2") format("woff2"),
    url("/fonts/bvp.bold.woff2") format("woff2");
}

/* Common CSS */

.text-gradient {
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-items: center;
}
